@use "../2-lib/variables" as *;

@mixin action-icon {
	display: grid;
	place-items: center;

	block-size: $action-icon-size;
	inline-size: $action-icon-size;

	border-radius: var(--rounded-full);
	color: var(--color-neutral-text);
	transition: all 200ms ease;

	&:hover {
		background-color: var(--color-primary-bg-hover);
		color: var(--color-neutral-text-contrast);
	}
}
