@use "../2-lib/breakpoints" as *;
@use "../2-lib/variables" as *;

:root {
	--header-border: 1px;

	@media (min-resolution: 192dpi) {
		--header-border: 0.5px;
	}
}

.app-header {
	--cluster-gap: #{$header-gap};

	position: sticky;
	min-block-size: $header-height;
	inset-block-start: 0;
	padding-inline: $global-gutter;
	background-color: var(--color-surface);

	z-index: 3;

	/* This applies a border 
	either when the body is scrolled 
	or when the sidebar has been opened */
	&[data-scrolled="true"],
	body:has(.app-layout__sidebar[data-open="true"]) & {
		border-block-end: var(--header-border) solid var(--color-neutral-line);
	}

	// /* this removes the background
	// when the sidebar is opened
	// on screens above $breakpoints-md */
	// @include media-breakpoint-up("md") {
	// 	body:has(.app-layout__sidebar[data-open="true"]) & {
	// 		background-color: unset;
	// 	}
	// }

	/* on viewports above $breakpoints-xl
	the background and the border are unset  */
	@include media-breakpoint-up("xl") {
		background-color: unset;

		&[data-scrolled="true"] {
			border-block-end: unset;
		}
	}
}

.app-header__title {
	margin-inline-end: auto;
	padding-block: var(--space-2);

	color: var(--color-neutral-text-contrast);
	font-weight: var(--font-weight-medium);
	text-decoration: none;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
