@use "../2-lib/breakpoints" as *;
@use "../2-lib/variables" as *;

.app-layout__wrapper {
	min-block-size: calc(var(--full-vh) - $header-height);
	display: flex;
	flex-direction: column;

	> :last-child {
		margin-block-start: auto;
	}

	> * {
		padding-block-start: $layout-padding-block-start;
		padding-block-end: $layout-padding-block-end;
		padding-inline: $global-gutter;
	}

	@include media-breakpoint-up("lg") {
		:where(.supports-js) & {
			display: grid;
			grid-template-columns: minmax(0, 1fr) $sidebar-width;
		}
	}

	@include media-breakpoint-up("xl") {
		display: grid;
		grid-template-columns: $sidebar-width minmax(0, 1fr) $sidebar-width;
	}
}

.app-layout__panel {
	overscroll-behavior: contain;

	@include media-breakpoint-up("lg") {
		:where(.supports-js) & {
			position: sticky;
			inset: 0;
			inset-block-start: $header-height;
			block-size: calc(var(--full-vh) - $header-height);
			overflow: auto;
			z-index: 1;
		}
	}

	/* TODO: make a mixin because sidebar has the same first four styles*/
	@include media-breakpoint-up("xl") {
		position: sticky;
		inset: $header-height 0 0;
		block-size: calc(var(--full-vh) - $header-height);
		overflow: auto;

		z-index: 1;
	}
}

.app-layout__sidebar,
.app-layout__panel {
	> aside {
		--stack-gap: var(--space-m-l);
		--stack-horizontal-alignment: stretch;
		min-block-size: 100%;
	}
}

.app-layout__wrapper > *:not(.app-layout__main) {
	font-size: var(--font-size-browser-default);
	letter-spacing: 0.01em;
	line-height: var(--font-line-height-sm);
}
