.content {
	> * {
		--flow-space: 1em;
	}

	a {
		text-decoration-color: var(--color-primary-text);

		&:hover {
			text-decoration-style: dotted;
		}
	}

	:is(ul, ol) {
		padding-inline-start: var(--space-5);

		:is(ul, ol) {
			margin-block-start: 0.5em;
		}
	}

	blockquote {
		padding-inline-start: var(--space-4);
		border-inline-start: 3px solid var(--color-neutral-line);

		cite {
			font-style: normal;
		}

		> * + * {
			margin-block-start: 0.5em;
		}
	}

	:where(pre, blockquote, .cp_embed_wrapper) {
		--flow-space: 1.25em;

		+ * {
			--flow-space: 1.25em;
		}
	}

	.cp_embed_wrapper {
		iframe {
			border-radius: var(--rounded-md);
		}
	}
}
