.heading-wrapper:has(h2) {
	--flow-space: 2em;
}

.heading-wrapper {
	h2,
	h3,
	h4 {
		display: inline;
	}

	.anchor-link {
		padding-block-start: var(--space-s);
		padding-block-end: var(--space-3xs);
		padding-inline: var(--space-1);

		// outline-offset: var(--space-1);
		text-decoration: none;
		color: currentColor;
		vertical-align: middle;
		opacity: 0;
		transition: opacity 200ms ease;

		svg {
			inline-size: 1em;
			block-size: 1em;
		}
	}

	&:hover,
	&:focus-within {
		.anchor-link {
			opacity: 1;
		}
	}
}
