@use "../2-lib/variables" as *;

.icon-btn {
	--cluster-gap: 0.5ch;

	/* magic number to make the button height less than the header height */
	padding-block: calc(var(--space-3) - 1px);
	padding-inline: var(--space-1);
	border-radius: var(--rounded-full);
	color: var(--color-primary-text);
	transition: all 200ms ease;

	// &:hover,
	// &:focus-visible {
	// 	background-color: var(--color-neutral-bg-hover);
	// }

	&:active {
		background-color: var(--color-neutral-bg-active);
	}
}
