@use "../2-lib/variables" as *;

.nav-group {
	&[data-expanded] + .nav-group {
		margin-block-start: var(--space-2);
	}

	// &:not([data-expanded]) + .nav-group {
	// 	margin-block-start: var(--space-4);
	// }
}

.nav-group__toggle {
	--grid-gap: #{$details-gutter};
}

.nav-group__toggle + * {
	padding-inline-start: calc(1.125em + (var(--level, 1) - 1) * var(--space-4));

	&:before {
		inset-inline-start: calc(($chevron-size + 1px) / 2 + var(--space-2));
	}
}

.nav-group__toggle {
	// inline-size: 100%;
	// display: flex;
	// gap: var(--space-2);
	// align-items: center;
	// justify-content: flex-start;
	border: 0;
	background: transparent;

	// font-size: var(--font-size-browser);
	// letter-spacing: 0.01em;
	// line-height: var(--font-line-height-sm);

	&:hover {
		background-color: var(--color-primary-bg);
		color: var(--color-neutral-text-contrast);
	}

	&[aria-expanded="true"] svg {
		transform: rotate(90deg);
	}
}
