@use "../2-lib/variables" as *;

details.nav-group + details.nav-group {
	margin-block-start: var(--space-1);
}

:where(.nav-group__toggle, .nav-list__toggle) {
	&:hover {
		background-color: var(--color-primary-bg);
		color: var(--color-neutral-text-contrast);
	}
}

.nav-group__toggle + * {
	padding-inline-start: $chevron-size;

	&:before {
		inset-inline-start: calc(($chevron-size + 1px) / 2 + var(--space-2));
	}
}

.nav-list__toggle {
	--icon-link-padding-inline: var(--space-4);
}

.nav-list__toggle + * {
	padding-inline-start: calc(1em + calc(($chevron-size / 2) - 1px));

	&:before {
		inset-inline-start: calc(($chevron-size / 2) + var(--space-4) - 0.5px);
	}
}

.nav-list-container {
	--flow-space: var(--space-1);
}

.nav-list__link {
	display: block;
	border-radius: var(--rounded-md);
	color: var(--color-neutral-text);

	span {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}

	.nav-group__wo-label & {
		padding: $link-padding-block $link-padding-inline;
	}

	&:hover {
		background-color: var(--color-primary-bg);
		text-decoration-color: transparent;
	}

	.nav-group & {
		// margin-inline-start: 2px;
		padding-block: $link-padding-block;
		padding-inline: var(--space-4);
		border-radius: 0 var(--rounded-md) var(--rounded-md) 0;
	}
}

.nav-list__link[aria-current="page"] {
	position: relative;
	background-color: var(--color-primary-bg);
	color: var(--color-primary-text);

	.nav-group__toggle + div &:before {
		content: "";
		position: absolute;
		inset-inline-start: -0.5px;
		inset-block-start: 0;
		block-size: 100%;
		inline-size: 2px;
		background-color: var(--color-primary-bg-solid);
	}
}
