.page__header {
	margin-block-end: var(--space-s-l);
}

// .page__title {
// 	font-size: var(--font-size-fluid-6);
// 	line-height: var(--font-line-height-xs);
// }

.page__description {
	font-size: var(--font-size-fluid-1);
}

.meta-info {
	--flow-space: var(--space-2);
}
