.section-label {
	padding-inline: var(--icon-link-padding-inline);
	color: var(--color-neutral-text);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
	letter-spacing: 0.02em;
}
