@use "../2-lib/variables" as *;

.skip-link {
	position: fixed;
	inset-block-start: $layout-padding-block-end;
	inset-inline-start: $global-gutter;
	padding-block: var(--space-2);
	padding-inline: var(--space-4);

	background-color: var(--color-surface);
	color: var(--color-primary-text-contrast);
	font-weight: var(--font-weight-medium);
	text-decoration: none;

	translate: 0 calc(-100% - var(--space-s-m));
	transition: translate 200ms ease;
	z-index: 4;

	&:focus {
		translate: 0 0;
	}
}
