@use "../2-lib/breakpoints" as *;
@use "../2-lib/mixins" as *;

.theme-switcher-container {
	place-self: end;

	@include media-breakpoint-up("lg") {
		position: fixed;
		inset-block-end: 0;
		inset-inline-end: 0;
	}
}

.theme-switcher {
	--cluster-gap: 0;
	border-radius: var(--rounded-full);
	background-color: var(--color-neutral-bg);

	&:focus-within {
		outline: 2px solid var(--color-primary-text);
		outline-offset: 1px;
	}
}

.theme-switcher__label {
	cursor: pointer;

	@include action-icon;

	input:checked + & {
		background-color: var(--color-primary-bg-active);
		color: var(--color-primary-text);

		svg {
			fill: var(--color-primary-border);
		}
	}
}
