@use "../2-lib/mixins" as *;
@use "../2-lib/variables" as *;

$summary-padding: var(--space-xs);

.toc {
	border-block: 1px solid var(--color-neutral-line);
	@include font-size-browser;

	summary {
		--icon-link-padding-block: #{$summary-padding};
		--icon-link-padding-inline: 0;
	}
}

.toc[open] {
	padding-block-end: $summary-padding;
}

.toc__list {
	padding-inline-start: $details-gutter;

	&:before {
		inset-inline-start: calc(($chevron-size - 1px) / 2);
	}
}

.toc__item {
	position: relative;
}

.toc__link {
	display: block;
	padding-block: var(--space-3xs);
	padding-inline-start: calc(
		$chevron-size + ((var(--level, 1) - 1) * var(--space-5))
	);
	color: var(--color-neutral-text-contrast);
	text-decoration: none;
	transition: all 200ms ease;

	&:hover {
		background-color: var(--color-primary-bg);
		color: var(--color-primary-text);
	}

	&:before {
		content: "";

		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		block-size: 100%;
		inline-size: 2px;

		background: transparent;
	}

	&:hover::before {
		background: var(--color-primary-bg-solid);
	}
}
