---js
{
  layout: "layouts/base.njk",
  permalink: function({ page }) {
    const url = this.slugifyPath(page.filePathStem).replace(/\/index$/, '');
    return `/${url}/`;
  }
}
---

{% from 'macros/datetime.njk' import datetime %}

<main class="app-layout__main" id="main-content">
  <div class="page content-wrapper">
    <article class="flow">
      
      <header class="page__header flow">
        <h1 class="page__title">{{ title or page.fileSlug }}</h1>
        <div class="meta-info">
          <span class="visually-hidden">
            Published on
          </span>
          {{ datetime({ date: page.date }) }}
          </div>
      </header>

      {% include "../partials/toc.njk" %}

      <div class="content flow">
        {{ content | safe }}
      </div>

    </article>
  </div>
</main>

{% if panel %}
  <div class="app-layout__panel">
    {% include 'partials/panel.njk' %}
  </div>
{% else %}
  <div class="theme-switcher-container">
    {% include 'partials/theme-switcher.njk' %}
  </div>
{% endif %}