---js
{
  layout: "layouts/base.njk",
  permalink: function({ page }) {
    const url = this.slugifyPath(page.filePathStem).replace(/\/index$/, '');
    const isRoot = url === "";
    return isRoot ? "/" : `/notes/${url}/`;
  }
}
---

{% from 'macros/datetime.njk' import datetime %}

<main class="app-layout__main" id="app-content">
  <div class="page content-wrapper">
    <article class="flow">
      <header class="flow">
        <h1 class="page__title">{{ title or page.fileSlug }}</h1>
        {% if page.url !== "/" %}
          {{ datetime({ date: page.date }) }}
        {% endif %}
      </header>

      {% if page.url !== "/" %}
        {% include "../partials/toc.njk" %}
      {% endif %}

      <div class="prose flow">
        {{ content | safe }}
      </div>
    </article>
  </div>
</main>

{% if panel %}
  <div class="app-layout__panel">
    {% include 'partials/panel.njk' %}
  </div>
{% else %}
  <div class="theme-switcher-container">
    {% include 'partials/theme-switcher.njk' %}
  </div>
{% endif %}