@use "../2-lib/variables" as *;
@use "../2-lib/mixins" as *;

body {
	background-color: var(--color-surface);
	color: var(--color-neutral-text-contrast);
	font-family: var(--font-family-default);
	font-size: var(--font-size-fluid-0);
	line-height: var(--font-line-height-body);
}

h1,
h2,
h3 {
	text-wrap: balance;
}

h2,
h3 {
	font-weight: var(--font-weight-medium);
	line-height: var(--font-line-height-sm);
}

h4,
h5 {
	font-weight: var(--font-weight-normal);
	line-height: var(--font-line-height-body);
}

h1 {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-fluid-6);
	line-height: var(--font-line-height-xs);
}

h2 {
	font-size: var(--font-size-fluid-3);
}

h3 {
	font-size: var(--font-size-fluid-2);
}

h4 {
	@include font-size-browser;
}

// h5 {
// 	font-size: var(--font-size-fluid-0);
// }

// h6 {
// 	font-size: var(--font-size-fluid-x1);
// 	text-transform: uppercase;
// 	letter-spacing: 0.02em;
// }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p + ul,
p + ol {
	--flow-space: 0.75em;
}

p,
li {
	text-wrap: pretty;
}

a {
	color: var(--color-primary-text);
	text-underline-offset: min(0.22em, 5px);
	text-decoration-color: transparent;
	transition: all 200ms ease;

	&:hover {
		color: var(--color-primary-text);
		text-decoration-color: currentColor;
	}

	p & {
		text-decoration-color: currentColor;

		&:hover {
			text-decoration-style: dotted;
		}
	}
}

ul,
ol {
	::marker {
		color: var(--color-neutral-text);
	}
}

:where(:is(ul, ol):not([role^="list"])) li + li {
	margin-block-start: 0.5em;
}

button,
summary {
	cursor: pointer;
	touch-action: manipulation;
	user-select: none;
}

time {
	color: var(--color-neutral-text);
	font-size: var(--font-size-sm);
	letter-spacing: 0.01em;
	font-variant-numeric: tabular-nums;
}

small {
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size-fluid-x1);
	font-variant-numeric: tabular-nums;
	font-variant-caps: all-small-caps;
	vertical-align: middle;
}

hr {
	margin: 0;
	border: none;
	block-size: 1px;
	background-color: var(--color-neutral-line);
}

sup {
	line-height: 1;
	font-size: var(--font-size-xs);
	letter-spacing: 0.02em;
	font-variant-numeric: tabular-nums;

	a {
		display: inline-block;
		padding-inline: 0.5ch;
		text-underline-offset: 1ex;
		text-decoration: none;
	}
}

pre,
code {
	font-family: var(--font-family-mono);
	line-height: var(--font-line-height-sm);
	tab-size: 2;
}

pre {
	direction: ltr;
	text-align: start;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	hyphens: none;
	padding: $global-gutter;
	border-radius: var(--rounded-md);

	background-color: var(--color-neutral-bg-subtle);
	outline: 1px solid var(--color-neutral-bg);

	overflow: auto;

	code {
		word-break: break-all;
	}
}

code {
	font-size: 0.9em;
	border-radius: var(--rounded-sm);

	:not(pre) > & {
		padding: 0.2em 0.5ch;
		outline: 1px solid var(--color-neutral-bg);
		background-color: var(--color-neutral-bg-subtle);
	}
}

table {
	inline-size: 100%;
	border-block-start: 1px solid var(--color-neutral-border);
	border-collapse: collapse;
}

table td,
table th {
	border-bottom: 1px solid var(--color-neutral-border);
	padding-inline: var(--space-1);
}

table td {
	padding-block: var(--space-3);
}

table th {
	padding-block: var(--space-2);
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
	letter-spacing: 0.01em;
}

:focus,
:focus-visible {
	outline-color: var(--color-primary-text);
	outline-offset: 1px;
}

// [tabindex="-1"]:focus {
// 	outline: 0;
// }

::selection {
	background-color: var(--color-primary-bg-active);
}
