@use "../2-lib/variables" as *;

/* TODO: understand why `scroll-margin-block-start` was not working here */
:target {
	scroll-margin-top: calc($header-height + 1em);
}

@media (prefers-reduced-motion: no-preference) {
	:target:not(main),
	.heading-wrapper:has(:target) {
		position: relative;
	}

	:target:not(main):after {
		content: "";
		position: absolute;
		inset: calc(-1 * var(--space-2));
		background-color: var(--color-primary-bg-solid);
		border-radius: var(--rounded-md);
		animation: fade 2s forwards;
	}

	.heading-wrapper:has(:target) :target:after {
		display: none;
	}

	.heading-wrapper:has(:target):after {
		content: "";
		position: absolute;
		inset: calc(-1 * var(--space-2));
		background-color: var(--color-primary-bg-solid);
		border-radius: var(--rounded-md);
		animation: fade 2s forwards;
	}
}

@keyframes fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
