@mixin light-mode() {
	--light: initial;
	--dark: ;
	--backdrop-color: hsl(0deg 0% 100% / 20%);

	color-scheme: light;
}

@mixin dark-mode() {
	--light: ;
	--dark: initial;
	--backdrop-color: hsl(0deg 0% 0% / 20%);

	color-scheme: dark;
	-webkit-font-smoothing: antialiased;
}

:root {
	@media (prefers-color-scheme: dark) {
		@include dark-mode();
	}

	@media (prefers-color-scheme: light) {
		@include light-mode();
	}

	&[data-theme="dark"] {
		@include dark-mode();
	}

	&[data-theme="light"] {
		@include light-mode();
	}
}

[data-no-transition] {
	&,
	*,
	*::before,
	*::after {
		transition: none !important;
	}
}
