{% macro searchInput(mode) %}
  {% set init = "$store.hotkeys.register('/', () => $el.focus())" if mode === 'overlay' else null %}
  {% set id = uniqueId() %}

  <div
    x-cloak
    x-data="search"
    @click.away="open = false"
    class="search cluster"
    data-mode="{{ mode }}"
  >
    {% if mode === 'overlay' %}
      <p class="search__kbd cluster">
        <span class="visually-hidden">Press "/" to activate search</span>
        <kbd aria-hidden="true">/</kbd>
      </p>
    {% endif %}
    <input
      type="search"
      role="combobox"
      aria-autocomplete="list"
      aria-haspopup="listbox"
      aria-owns="{{ id('popup') }}"
      aria-controls="{{ id('popup') }}"
      aria-activedescendant
      aria-expanded="false"
      :aria-activedescendant="open && selectedId ? `{{ id('result', '') }}${selectedId}` : ''"
      :aria-expanded="open"
      placeholder="Search…"
      class="search__input"
      autocorrect="off"
      autocapitalize="off"
      enterkeyhint="search"
      required
      x-model="term"
      x-init="{{ init }}"
      @focus="open = true"
      @keydown="onKeyDown"
      @pageshow.window="term = $el.value"
      {{ 'autofocus' if mode === 'inline' else '' }}
    >
    <template x-if="open{{ '|| true' if mode === 'inline' else '' }}">
      <div class="search__popover" id="{{ id('popup') }}">
        <div x-show="!term" class="search__info">
          Find notes using their title, content and/or #tags
        </div>
        <div
          x-show="!!term && results && !results.length"
          class="search__info"
        >
          No notes found, try a different search term.
        </div>
        <div
          x-show="!!term && !results"
          class="search__info"
        >
          Searching...
        </div>

        <ul
          class="search__results"
          x-show="term && results && results.length"
          role="listbox"
          aria-label="Search Results"
        >
          <template x-if="term && results && results.length">
            <template
              x-for="(result, index) in results"
              :key="result.id"
            >
              <li
                role="option"
                :id="`{{ id('result', '') }}${result.id}`"
              >
                <a
                  :href="result.url"
                  class="search__result grid"
                  :aria-selected="result.id === selectedId"
                  x-effect="result.id === selectedId && $el.scrollIntoView({ block: 'nearest' })"
                >
                  <span
                    class="search__note-title"
                    x-text="result.title"
                  ></span>
                  <span
                    class="search__note-content"
                    x-text="result.previewText"
                    aria-hidden="true"
                  ></span>
                  {# this is the enter icon #}
                  {{ 'corner-down-left' | featherRef | safe }} 
                </a>
              </li>
            </template>
          </template>
        </ul>
      </div>
    </template>
  </div>

  {% if mode === 'inline' %}
    <noscript
      class="grid"
    >
      {{ 'alert-circle' | feather | safe }}
      Please enable JavaScript to use the search function
    </noscript>
  {% endif %}

{% endmacro %}