{% macro sidebarTree(tree, group, page) %}
  <ul
    class="nav-list stack"
    role="list"
    aria-labelledby="app:sidebar:section:notes:group:{{ group.id }}:title"
  >
    {% set items = tree | reverse %}
    {% for item in items %}
      <li
        {% if item.children.length %}
          x-data="collapsible('app:sidebar:section:notes:group:{{group.id }}:tree:{{item.$treeKey}}', {{ item.$treeExpanded }})"
        {% endif %}
      >
        {% if item.url %}
          <div class="nav-list__link-with-toggle">
            <a
              class="nav-list__link"
              href="{{ item.url }}"
              {{ item.url | ariaCurrent(page) }}
            >
              <span>{{ item.title }}</span>
            </a>
            {% if item.children.length %}
              {# removed "nav-list__link" class from the button below  #}
              <button
                class="nav-list__toggle"
                type="button"
                aria-controls="app:sidebar:section:notes:group:{{ group.id }}:tree:{{ item.$treeKey }}:list"
                aria-expanded="true"
                :aria-expanded="expanded"
                @click="toggle()"
              >
                {{ 'chevron-right' | feather | safe }}
                <span class="visually-hidden">
                  Toggle {{ item.title }}
                </span>
              </button>
            {% endif %}
          </div>
        {% else %}
          {# removed "nav-list__link" class from the button below  #}
          <button
            class="nav-list__toggle grid"
            type="button"
            data-type="icon-toggle"
            aria-controls="app:sidebar:section:notes:group:{{ group.id }}:tree:{{ item.$treeKey }}:list"
            aria-expanded="true"
            :aria-expanded="expanded"
            @click="toggle()"
          >
            {{ 'chevron-right' | feather | safe }}
            <span>{{ item.title }}</span>
          </button>
        {% endif %}

        {% if item.children.length %}
          <div x-show="expanded" id="app:sidebar:section:notes:group:{{ group.id }}:tree:{{ item.$treeKey }}:list">
            {{ sidebarTree(item.children, group, page) }}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
