{% macro sidebarTree(tree, group, page) %}
  <ul
    class="nav-list stack"
    role="list"
  >
    {% set items = tree | reverse %}
    {% for item in items %}
      <li>
        {% if item.children.length %}
          <details>
            <summary
              class="nav-list__toggle grid"
              data-type="icon-toggle"
            >
              {{ 'chevron-right' | feather | safe }}
              <span>{{ item.title }}</span>
            </summary>
            {% if item.children.length %}
              <div class="nav-list-container flow">
                {% if item.url %}
                  <a
                    class="nav-list__link"
                    href="{{ item.url }}"
                    {{ item.url | ariaCurrent(page) }}
                  >
                    <span>Index</span>
                  </a>
                {% endif %}
                {{ sidebarTree(item.children, group, page) }}
              </div>
            {% endif %}
          </details>
        {% else %}
          <a
            class="nav-list__link"
            href="{{ item.url }}"
            {{ item.url | ariaCurrent(page) }}
          >
            <span>{{ item.title }}</span>
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

