{% from 'macros/search.njk' import searchInput %}

<header
  class="app-layout__header app-header cluster"
  x-data
  x-bind="WindowScroll"
>

  <a href="/" class="app-header__title">
    {{ app.title }}
  </a>
  
  <div class="show-md">
    {{ searchInput('overlay') }}
  </div>

  <div class="hide-md">
    {% include 'partials/search-button.njk' %}
  </div>

  {% include 'partials/sidebar-toggle.njk' %}

</header>
