{% set toc = content | toc %}

{% if toc | length %}
  <details
    class="toc"
    role="navigation"
  >
    <summary
      class="toc__label grid"
      data-type="icon-toggle"
      id="app-panel-toc"
      aria-label="Table of Contents"
    >
      {{ 'chevron-right' | feather | safe }}
      <span>On this page</span>
    </summary>
    
    <ul
      class="toc__list"
      role="list"
      aria-labelledby="app-panel-toc"
    >
      {% for item in toc %}
        <li
          style="--level: {{ item.level }}"
          class="toc__item"
        >
          <a
            href="#{{ item.id }}"
            class="toc__link"
          >
            {{ item.text | safe }}
          </a>
        </li>
      {% endfor %}
    </ul>

  </details>
{% endif %}
