---
title: Search
layout: "layouts/base.njk"
permalink: "/search/"
panel: false
---

{% from 'macros/search.njk' import searchInput %}

<main class="app-layout__main" id="main-content">
  <div class="page content-wrapper">

    <header class="page__header">
      <h1 class="page__title">Search</h1>
    </header>

    {{ searchInput('inline') }}

  </div>
</main>

<div class="theme-switcher-container">
  {% include 'partials/theme-switcher.njk' %}
</div>

